<p-toast></p-toast>
<div class="flex justify-content-center align-items-center min-h-screen">
    <p-card class="card" [style]="{ width: '400px', border:'1000px'  }">
      <ng-template pTemplate="header">
        <div class="header flex justify-content-center align-items-center">
            <h2>Iniciar Sesion</h2>
        </div>
      </ng-template>
      <ng-template pTemplate="content">
        <form [formGroup]="form" (ngSubmit)="onLogin()">
          <div class="field">
            <label for="email">Email</label>
            <input type="text" pInputText class="w-full" formControlName="email"/>
          </div>
          <div class="field">
            <label for="password">Contraseña</label>
            <input type="password" pInputText class="w-full" formControlName="password"/>
          </div>
          
          <p-button label="SIGN IN" styleClass="w-full" type="submit"></p-button>
          
          <div class="mt-2">
            No tienes una cuenta? <a routerLink="/register">Registrarse</a>
          </div>
        </form>
      </ng-template>
      
    </p-card>
  </div>