<p-toast></p-toast>
<div class="container d-flex justify-content-center custom-container">
  <p-card class="card-body custom-card">
    <ng-template pTemplate="header">
      <div class="custom-header">Personaliza Tu Viaje</div>
    </ng-template>
    <ng-template pTemplate="content">
      <p class="card-text">
        En esta plataforma serás capaz de reservar servicios turísticos de una forma rápida y eficiente.  
        Para acceder a la página es necesario registrarse.
      </p>
    </ng-template>
  </p-card>
</div>


<div class="flex justify-content-center align-items-center min-h-screen">
     <p-card class="card" [style]="{ width: '400px', border:'1000px'  }">
      <ng-template pTemplate="header">
        <div class="header flex justify-content-center align-items-center">
            <h2>Iniciar Sesion</h2>
        </div>
      </ng-template>
      <ng-template pTemplate="content">
        <form [formGroup]="form" (ngSubmit)="onLogin()">
          <div class="field">
            <label for="email">Email</label>
            <input type="text" pInputText class="w-full" formControlName="email"/>
          </div>
          <div class="field">
            <label for="password">Contraseña</label>
            <input type="password" pInputText class="w-full" formControlName="password"/>
          </div>
          
          <p-button label="SIGN IN" styleClass="w-full" type="submit"></p-button>
          
          <div class="mt-2">
            No tienes una cuenta? <a routerLink="/register">Registrarse</a>
          </div>
        </form>
      </ng-template>
      
    </p-card>
  </div>