<p-toast></p-toast>
<div class="flex justify-content-center align-items-center min-h-screen">
  <p-card class="card"  [style]="{ width: '400px' }">
    <ng-template pTemplate="header">
      <div class="header flex justify-content-center align-items-center">
        <h2>Registrar</h2>
    </div>
    </ng-template>
    <ng-template pTemplate="content">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="field">
          <label for="username">Nombre de Usuario</label>
          <input type="text" pInputText class="w-full" formControlName="username"/>
        </div>
        <div class="field">
          <label for="email">Email</label>
          <input type="text" pInputText class="w-full" formControlName="email"/>
        </div>
        <div class="field">
          <label for="password">Contraseña</label>
          <input type="password" pInputText class="w-full" formControlName="password"/>
        </div>
        
        <p-button label="REGISTRAR" styleClass="w-full" type="submit"></p-button>
        
        <div class="mt-2">
          Ya tienes una cuenta? <a routerLink="/login">Iniciar Sesión</a>
        </div>
      </form>
    </ng-template>
    
  </p-card>
</div>
