<p-toast/>
<div class="flex justify-content-center align-items-center min-h-screen w-ful">
  <p-card header="Buscar Ofertas de Vuelos" class="w-10">  
    <form 
    [formGroup]="flightForm" 
    (ngSubmit)="onSubmit()" 
    class="flex flex-column gap-2">
      <div class="field gap-1">
        <label for="origin">Lugar de Origen:</label>
        <input id="origin" pInputText class="w-50" formControlName="origin" />
        <div *ngIf="flightForm.get('origin')?.invalid && flightForm.get('origin')?.touched">
          <small>El lugar de origen es obligatorio.</small>
        </div>
      </div>
  
      <div class="field gap-1">
        <label for="destination">Lugar de Destino:</label>
        <input id="destination" pInputText class="w-50" formControlName="destination" />
        <div *ngIf="flightForm.get('destination')?.invalid && flightForm.get('destination')?.touched">
          <small>El lugar de destino es obligatorio.</small>
        </div>
      </div>
  
      <div class="field gap-1">
        <label for="departureDate">Fecha de Salida:</label>
        <input id="departureDate" type="date" pInputText class="w-50" formControlName="departureDate" />
        <div *ngIf="flightForm.get('departureDate')?.invalid && flightForm.get('departureDate')?.touched">
          <small>La fecha de salida es obligatoria y debe estar en formato YYYY-MM-DD.</small>
        </div>
      </div>
  
      <div class="field gap-1">
        <label for="returnDate">Fecha de Vuelta (Opcional):</label>
        <input id="returnDate" type="date" pInputText class="w-50" formControlName="returnDate" />
        <div *ngIf="flightForm.get('returnDate')?.invalid && flightForm.get('returnDate')?.touched">
          <small>La fecha de vuelta debe estar en formato YYYY-MM-DD.</small>
        </div>
      </div>
  
      <div class="field gap-1">
        <label for="adults">Cantidad de Adultos:</label>
        <input id="adults" type="number" pInputText class="w-50" formControlName="adults" min="1" />
        <div *ngIf="flightForm.get('adults')?.invalid && flightForm.get('adults')?.touched">
          <small>La cantidad de adultos debe ser al menos 1.</small>
        </div>
      </div>
      <div class="flex">
        <button type="submit" pButton [disabled]="flightForm.invalid">Buscar</button>
      </div>
    </form>
  <br>
  <div *ngIf="flights" class="grid p-fluid gap-4">
    <p-card 
    *ngFor="let offer of flights"
    header="Vuelo"
    class="col-12 md:col-6 lg:col-4">
    <ng-template pTemplate="content">
      <h2>Flight Offer: {{ offer.id }}</h2>
    
      <div *ngFor="let itinerary of offer.itineraries">
        <h3>Itinerary</h3>
        <p>Duration: {{ itinerary.duration }}</p>
        
        <div *ngFor="let segment of itinerary.segments">
          <p>Carrier: {{ segment.carrierCode }}</p>
          <p>Flight Number: {{ segment.number }}</p>
          <p>Aircraft: {{ segment.aircraft }}</p>
          <p>Departure: {{ segment.departure.iataCode }} at {{ segment.departure.at }} </p>
          <p>Arrival: {{ segment.arrival.iataCode }} at {{ segment.arrival.at }} </p>
          <p>Duration: {{ segment.duration }}</p>
        </div>
      </div>
    
      <div>
        <h3>Price</h3>
        <p>Base: {{ offer.price.base }} {{ offer.price.currency }}</p>
        <p>Grand Total: {{ offer.price.grandTotal }} {{ offer.price.currency }}</p>
        <div *ngFor="let fare of offer.pricingOptions.fareType">
          <p>Type of Fare: {{fare}}</p>
        </div>  
      </div>
      
      <div>
        <h3>Traveler Pricing</h3>
        <div *ngFor="let pricing of offer.travelerPricings">
          <p>Traveler Type: Adult</p>
          <p>Cabin: {{pricing.cabin}}</p>
          <p>Base Price: {{pricing.price.base}} {{ pricing.price.currency }}</p>
          <p>Price: {{ pricing.price.total }} {{ pricing.price.currency }}</p>
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="footer">  
      <p-button type="button" pButton label="Guardar" (click)="onGuardar(offer)"></p-button>
    </ng-template>  
    </p-card>
  </div>  
  </p-card>
</div>
  