<app-header></app-header>
<p-toast/>
<div class="flex justify-content-center align-items-center min-h-screen w-ful">
    <p-card header="Formulario Usuario" class="w-10">
        <form 
            [formGroup]="formUser"
            (ngSubmit)="updateUser()"
            class="flex flex-column gap-2">

            <div class="field flex flex-column gap-1">
                <label for="nombreUsuario">Nombre de Usuario</label>
                <input type="text" pInputText formControlName="nombreUsuario"/>
            </div>
            <div class="field flex flex-column gap-1">
                <label for="email">Email</label>
                <input type="text" pInputText formControlName="email"/>
            </div>
            <div class="field flex flex-column gap-1">
                <label for="edad">Edad</label>
                <p-inputNumber inputId="integeronly" formControlName="edad"/>
            </div>
            <div class="field flex flex-column gap-1">
                <label for="genero">Genero</label>
                <input type="text" pInputText formControlName="genero"/>
            </div>
            <div class="field flex flex-column gap-1">
                <label for="presupuesto">Presupuesto</label>
                <p-inputNumber inputId="integeronly" formControlName="presupuesto"/>
            </div>
            <div *ngIf="usuario.viajes">
                <p>Número de Viajes Activos: {{usuario.viajes.length}}</p>
                <div *ngFor="let viaje of usuario.viajes">
                    
                    <h4>Viaje Nº{{viaje.idViaje!+1}}</h4> 
                    
                    <div>
                        <h4>Vuelo</h4>

                        <div *ngFor="let itinerarie of viaje.vuelo?.itineraries">
                            <div *ngFor="let segment of itinerarie.segments">
                                <p>Número de Vuelo:{{segment.number}}</p>
                                <p>Vuelo desde: {{segment.departure.iataCode}}</p>
                                <p>Hasta: {{segment.arrival.iataCode}}</p>
                                <p>Horario de salida: {{segment.departure.at}}</p>
                                <p>Horario de llegada: {{segment.arrival.at}}</p>
                            </div>
                            <p>Aerolinea: {{viaje.vuelo?.validatingAirlineCodes}}</p>
                            <div *ngFor="let traveler of viaje.vuelo?.travelerPricings">
                                <div *ngFor="let fare of traveler.fareDetailsBySegment">
                                    <p>Cabina:{{fare.cabin}}</p>
                                    
                                    <div *ngFor="let amenities of fare.amenities">
                                        <p>description:{{amenities.description}}</p>
                                        <p>Type: {{amenities.amenityType}}</p>
                                        <p>isChargeable: {{amenities.isChargeable}}</p>
                                    </div>

                                </div>
                                
                            </div>
                        </div>
                    </div>

                    <div>
                        <h4>Alojamiento</h4>

                        <div *ngFor="let hotel of viaje.alojamiento?.data">
                            <p>Nombre del hotel: {{hotel.hotel.name}}</p>
                            <p>Ciudad: {{hotel.hotel.cityCode}}</p>
                            <div *ngFor="let oferta of hotel.offers">
                                <p>Horario de entrada: {{oferta.checkInDate}}</p>
                                <p>Horario de Salida: {{oferta.checkOutDate}}</p>
                                <p>Cantidad de huéspedes: {{oferta.guests.adults}}</p>
                                <h6>Habitación</h6>
                                <p>Tipo de Habitación: {{oferta.room.type}}</p>
                                <p>Descripción de la habitación: {{oferta.room.description.text}}</p>
                                <p>Tipo de cama: {{oferta.room.typeEstimated.bedType}}</p>
                                <p>Número de camas: {{oferta.room.typeEstimated.beds}}</p>
                                <p>Categoría:{{oferta.room.typeEstimated.category}}</p>
                            </div>
                        </div>
                    </div>
        
                </div>
            </div>
            <div class="flex">
                <button type="submit" class="btn-primary">Guardar</button>
            </div>
        </form>
    </p-card>
</div>


